<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>getAppCategoriesServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getAppCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAppCategorizationServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getAppCategorizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getApplicationNameServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getApplicationNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getVideCategoryServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getVideCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCategorizationServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getCategorizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCategoryIdServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getCategoryIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCategorizationFromCategoryServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getCategorizationFromCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMultipleVideoActionServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.AddMultipleVideoActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAppTopLevelcategoryServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getAppTopLevelcategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getChildLevelCategoriesServlet</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getChildLevelCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getuserfeedbackbyAppwise</servlet-name>
        <servlet-class>com.appify.vidstream.portal.getuserfeedbackbyAppwise</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAppCategoriesServlet</servlet-name>
        <url-pattern>/getAppCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAppCategorizationServlet</servlet-name>
        <url-pattern>/getAppCategorizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getApplicationNameServlet</servlet-name>
        <url-pattern>/getApplicationNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getVideCategoryServlet</servlet-name>
        <url-pattern>/getVideCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCategorizationServlet</servlet-name>
        <url-pattern>/getCategorizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCategoryIdServlet</servlet-name>
        <url-pattern>/getCategoryIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCategorizationFromCategoryServlet</servlet-name>
        <url-pattern>/getCategorizationFromCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMultipleVideoActionServlet</servlet-name>
        <url-pattern>/AddMultipleVideoActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAppTopLevelcategoryServlet</servlet-name>
        <url-pattern>/getAppTopLevelcategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getChildLevelCategoriesServlet</servlet-name>
        <url-pattern>/getChildLevelCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getuserfeedbackbyAppwise</servlet-name>
        <url-pattern>/getuserfeedbackbyAppwise</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
